<!--Tablero-->
<section id="tablero">
  <br />
  <!--Listado Clientes-->
  <div class="container" style="overflow: auto; height: 50vh">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header container-fluid">
            <div class="d-flex justify-content-between">
              <h4 class="card-title">Listado de Boletas</h4>
              <!-- <button
              type="button"
              class="btn btn-secondary pull-right btn-sm"
              style="display: inline"
              (click)="mostrarAllMenuCompras()"
            >
              <i class="fas fa-plus-square" style="color: white"></i>
              Mostrar Compras
            </button> -->
              <button
                type="button"
                id="modalFormButton"
                class="btn btn-primary pull-right btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#agregarBoletaModal"
                style="display: inline"
                (click)="activateAddBoleta()"
              >
                <i class="fas fa-plus-square" style="color: white"></i>
                Agregar Boleta
              </button>
            </div>
          </div>

          <table class="table table-striped">
            <thead class="thead-dark">
              <tr style="background-color: rgb(0, 0, 0); color: white">
                <th>ID<br />Boleta</th>
                <th>Fecha<br />Creacion</th>
                <th>Mesa</th>
                <th>Mail</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngIf="cargaTablero" >
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td>
                <div class="spinner-border" role="status" style="vertical-align:middle">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
            <tbody *ngFor="let boletaElemento of boletas; let i = index">
              <tr>
                <td>
                  <small>{{ boletaElemento.id }}</small>
                </td>
                <td>{{ timestampToDate(boletaElemento.fechaCreacion) }}</td>
                <td>{{ boletaElemento.mesa }}</td>
                <td>{{ boletaElemento.email }}</td>
                <td>
                  {{
                    getTotalBoleta(boletaElemento) | currency: "CL":"$":"3.0"
                  }}
                </td>
                <td>
                  <button
                    type="button"
                    id="modaldeleteButton"
                    class="btn btn-primary pull-right btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#eliminarBoletaModal"
                    style="padding: 5px 5px; border: none; background: none"
                    (click)="addBoletaClass(boletaElemento)"
                  >
                    <i class="fas fa-trash-alt" style="color: red"></i>
                  </button>

                  <button
                    type="button"
                    id="modalComprasButton"
                    class="btn btn-primary pull-right btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#agregarCompraModal"
                    style="padding: 5px 5px; border: none; background: none"
                    (click)="addBoletaClass(boletaElemento)"
                  >
                    <i class="fas fa-plus-circle" style="color: green"></i>
                  </button>

                  <button
                    style="padding: 5px 5px; border: none; background: none"
                    (click)="activateMenuCompras(boletaElemento)"
                  >
                    <i
                      class="fas fa-times-circle"
                      style="color: black"
                      *ngIf="boletaElemento.mostrarCompras"
                    ></i>
                    <i
                      class="fas fa-arrow-circle-down"
                      *ngIf="!boletaElemento.mostrarCompras"
                    ></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="boletaElemento.mostrarCompras">
                <td colspan="6">
                  <app-compras
                    [comprasCliente]="boletaElemento.compras"
                    [indice]="i"
                    [idBoleta]="boletaElemento.id"
                  ></app-compras>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--Tarjetas laterales-->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Ganancias <i class="fas fa-money-bill-wave"></i></h3>
            <h4 class="display-8">
              {{ getGananciasTotal() | currency: "CL":"$":"3.0" }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total Boletas</h3>
            <h4 class="display-8">
              <i class="fas fa-utensils"></i> {{ boletas?.length }}
            </h4>
          </div>
        </div>
      </div>
      <!--Fin tarjetas laterales-->
    </div>
  </div>
</section>

<!--Agregar boleta modal-->
<div class="modal fade" id="agregarBoletaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Agregar Boleta</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrar
        ></button>
      </div>

      <flash-messages></flash-messages>

      <form
        #boletaForm="ngForm"
        (ngSubmit)="agregarBoleta(boletaForm)"
        *ngIf="mostrarForm"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              name="nombre"
              class="form-control"
              #nombre="ngModel"
              [(ngModel)]="boleta.nombre"
              [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
              required
              minlength="2"
            />
            <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
              Nombre requerido
            </div>
            <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              name="apellido"
              class="form-control"
              #apellido="ngModel"
              [(ngModel)]="boleta.apellido"
              [ngClass]="{ 'is-invalid': apellido.errors && apellido.touched }"
              required
              minlength="2"
            />
            <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
              Apellido requerido
            </div>
            <div
              [hidden]="!apellido.errors?.minlength"
              class="invalid-feedback"
            >
              Debe contener al menos 2 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              #email="ngModel"
              [(ngModel)]="boleta.email"
              [ngClass]="{ 'is-invalid': email.errors && email.touched }"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required
            />
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email requerido
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Email no es válido
            </div>
          </div>

          <div class="form-group">
            <label for="div">N° Mesa</label>
            <input
              type="number"
              name="mesa"
              class="form-control"
              #mesa="ngModel"
              pattern="(40|([0-3]?[0-9]?))?"
              [(ngModel)]="boleta.mesa"
              [ngClass]="{ 'is-invalid': mesa.errors && mesa.touched }"
              required
            />
            <div [hidden]="!mesa.errors?.required" class="invalid-feedback">
              Mesa requerido
            </div>
            <div [hidden]="!mesa.errors?.pattern" class="invalid-feedback">
              No Existe esa Mesa
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            [disabled]="!boletaForm.valid"
            class="btn btn-primary"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Eliminar boleta modal -->
<div
  class="modal cstm-model"
  id="eliminarBoletaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmar Eliminar</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Estas seguro que quieres eliminar esta boleta?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-sm btn-ok"
          id="actionEliminarBoleta"
          data-toggle="modal"
          data-target="#confirmarEliminarBoletaModel"
          (click)="eliminarBoleta()"
        >
          Si, eliminar boleta
        </button>

        <button
          type="button"
          class="btn btn-primary"
          aria-label="Close"
          #botonEliminarBoleta
          data-bs-dismiss="modal"
          (click)="cerrarModalEliminarBoleta()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!--Agregar Compra modal-->
<div class="modal fade" id="agregarCompraModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Agregar Compra</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonAddCompra
        ></button>
      </div>

      <form
        #CompraForm="ngForm"
        (ngSubmit)="agregarCompra(CompraForm)"
        *ngIf="true"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="producto">Producto</label>
            <select
              id="producto"
              name="producto"
              style="display: block"
              [(ngModel)]="compra.producto"
              #producto="ngModel"
              [ngClass]="{
                'is-invalid': producto.errors && producto.touched
              }"
              required
            >
              <option value="Bebestible">Bebestible</option>
              <option value="Comida">Comida</option>
              <option value="Postre">Postre</option>
              <option value="Entrada">Entrada</option>
            </select>
          </div>

          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input
              type="number"
              name="cantidad"
              class="form-control"
              #cantidad="ngModel"
              [(ngModel)]="compra.cantidad"
              [ngClass]="{ 'is-invalid': cantidad.errors && cantidad.touched }"
              required
            />
          </div>

          <div class="form-group">
            <label for="valorUnidad">Precio Unidad</label>
            <input
              type="number"
              name="valorUnidad"
              class="form-control"
              #valorUnidad="ngModel"
              [(ngModel)]="compra.valorUnidad"
              [ngClass]="{
                'is-invalid': valorUnidad.errors && valorUnidad.touched
              }"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="submit"
              [disabled]="!CompraForm.valid"
              class="btn btn-primary"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
